*{
  font-family: 'Poppins', sans-serif;

}
.images{
  filter: brightness(50%);
  height:550px;
}
.text-align-center{
    margin-bottom: 255px;
    position: relative;
  
}
.img-text{
    position: absolute;
    left: 50%;
     top: 50%;  
    transform: translate(-50%,-50%);
    width: 50%;
    height:65%;
  

}
@media screen and (min-width: 476px) and (max-width:998px) {
    .register{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
 }
